header {
    display: flex;
    justify-content: space-between;
    background-color: #f2ec54;
    height: 40px;
    font-size: 22px;
    padding: 10px 15px;
    position: fixed;
    width: 98%;

    span {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .go-back {
        display: flex;
        gap: 10px;
        cursor: pointer;
    }
}